  <div class="hero-unit">
    <center><h2>TEKNIK MESIN UNIVERSITAS FAJAR</h2></center>
    
    
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="rails.png/64x64">
      </a>
      <div class="media-body">
        "Program  Studi Teknik Mesin Universitas Fajar (UNIFA) merupakan salah satu program studi yang ada pada Fakultas Teknik UNIFA dan dibuka pada tahun 2008 berdasarkan SK Mendiknas RI Nomor : 132/D/O/2008 dibawah pembinaan Yayasan Pendidikan Fajar Ujungpandang, membuka program jenjang pendidikan Strata Satu (S-1).  Pendidikan Teknik Mesin di UNIFA mempersiapkan luaran yang memiliki kemampuan dibidang Teknik Mesin serta mampu membuka lapangan kerja sendiri (berjiwa Entrepreneurship)."
        
      </div>
    </div>
    <hr>
     
    <center><h3>Visi</h3></center>    
    <center><p>"Menjadikan Program Studi Teknik Mesin unggulan di Kawasan Indonesia Timur berbasis    Technopreneurship yang berwawasan dan berdaya saing global."</p></center>
 
    <hr>
  
    <center><h3>Misi</h3></center>
    <div class="row-fluid">
    <div class="span3"><p>"Menjalin dan memperluas hubungan kerjasama (link and match) yang strategis dengan instansi Pemerintah, Swasta, kalangan ilmiah dan Asosiasi profesional untuk menciptakan sinergi yang berdaya guna serta meningkatkan profesionalitas, kesejahteraan dan kemajuan bersama."</p></div>
    <div class="span3"><p>"Mengembangkan dan menerapkan kurikulum yang berdinamis dan akomodatif terhadap kebutuhan masyarakat, perkembangan ilmu dan teknologi."</p></div> 
    <div class="span3"><p>"Meningkatkan mutu program studi  Teknik Mesin sesuai kebutuhan yang mandiri, profesional dan terakreditasi baik."</p> </div>
    <div class="span3"><p>"Menghasilkan lulusan Program Studi Teknik Mesin yang mampu beradaptasi dan bersaing dalam dunia kerja, memiliki integritas, kredibilitas dan kualitas keilmuan yang tinggi serta berakhlak mulia dan berjiwa wirausaha." </p></div>     
   
  </div> 
  
  <div class="hero-unit">
    <p>"Era globalisasi dengan segala implikasinya menjadi salah satu pemicu cepatnya perubahan yang terjadi pada berbagai aspek kehidupan masyarakat, dan bila tidak ada upaya sungguh-sungguh untuk mengantisipasinya maka hal tersebut akan menjadi masalah yang sangat serius. Dalam hal ini dunia pendidikan mempunyai tanggung jawab yang besar, terutama dalam menyiapkan sumber daya manusia yang tangguh sehingga mampu hidup selaras didalam perubahan itu sendiri. Pendidikan merupakan investasi jangka panjang yang hasilnya tidak dapat dilihat dan dirasakan secara instan, sehingga universitas sebagai ujung tombak di lapangan harus memiliki arah pengembangan jangka panjang dengan tahapan pencapaiannya yang jelas dan tetap mengakomodir tuntutan permasalahan faktual kekinian yang ada di masyarakat." </br> 
     </p>
  </div>
  
  

  
  
  
  
 

