
  
  <div class="hero-unit">
    
     <div><center><h2>TEKNIK MESIN UNIVERSITAS FAJAR</h2></center></div>
    <center><h3>Visi</h3></center>    
    <center><p>"Menjadikan Program Studi Teknik Mesin unggulan di Kawasan Indonesia Timur berbasis    Technopreneurship yang berwawasan dan berdaya saing global."</p></center>
 
     
    <center><h3>Misi</h3></center>
    <div class="row-fluid">
            
    <div class="span3"><p>"Menjalin dan memperluas hubungan kerjasama (link and match) yang strategis dengan instansi Pemerintah, Swasta, kalangan ilmiah dan Asosiasi profesional untuk menciptakan sinergi yang berdaya guna serta meningkatkan profesionalitas, kesejahteraan dan kemajuan bersama."</p></div>
    
    <div class="span3"><p>"Mengembangkan dan menerapkan kurikulum yang berdinamis dan akomodatif terhadap kebutuhan masyarakat, perkembangan ilmu dan teknologi."</p></div> 
    
    <div class="span3"><p>"Meningkatkan mutu program studi  Teknik Mesin sesuai kebutuhan yang mandiri, profesional dan terakreditasi baik."</p> </div>
    
    <div class="span3"><p>"Menghasilkan lulusan Program Studi Teknik Mesin yang mampu beradaptasi dan bersaing dalam dunia kerja, memiliki integritas, kredibilitas dan kualitas keilmuan yang tinggi serta berakhlak mulia dan berjiwa wirausaha." </p></div>   
  
  </div> 
</div>

<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <center>
      <img data-src="holder.js/300x200" alt="">
      <h3><i class="icon-book"></i> Berita Dikti</h3>
      <p>Thumbnail caption...</p>
    </center>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <center>
      <img data-src="holder.js/300x200" alt="">
      <h3><i class="icon-book"></i> Info Kampus</h3>
      <p>
        <%= render file: "articles/index" %></p>
      </center>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <center>
      <img data-src="holder.js/300x200" alt="">
      <h3><i class="icon-book"></i> Artikel Teknologi</h3>
      <p>Thumbnail caption...</p>
      </center>
    </div>
  </li>
</ul>
  
  
  
  

  
  
  
  
 

