<div class="row-fluid">
  <div class="span12">
    <h1><center>Teknik Mesin Universitas Fajar</center></h1>
  </div>   
  <div class="span12">
    <center><h3>Visi</h3></center>
    <center><h6>"Menjadikan Program Studi Teknik Mesin unggulan di Kawasan Indonesia Timur berbasis Technopreneurship yang berwawasan dan berdaya saing global."</h6></center>    
  </div> 
  <div class="span12">
    <center><h3>Misi</h3></center>
    <div class="row-fluid">
    <div class="span3"><h6>"Menjalin dan memperluas hubungan kerjasama (link and match) yang strategis dengan instansi Pemerintah, Swasta, kalangan ilmiah dan Asosiasi profesional untuk menciptakan sinergi yang berdaya guna serta meningkatkan profesionalitas, kesejahteraan dan kemajuan bersama."</h6></div>
    <div class="span3"><h6>"Mengembangkan dan menerapkan kurikulum yang berdinamis dan akomodatif terhadap kebutuhan masyarakat, perkembangan ilmu dan teknologi."</h6></div> 
    <div class="span3"><h6>"Meningkatkan mutu program studi  Teknik Mesin sesuai kebutuhan yang mandiri, profesional dan terakreditasi baik."</h6> </div>
    <div class="span3"><h6>"Menghasilkan lulusan Program Studi Teknik Mesin yang mampu beradaptasi dan bersaing dalam dunia kerja, memiliki integritas, kredibilitas dan kualitas keilmuan yang tinggi serta berakhlak mulia dan berjiwa wirausaha." </h6></div>  
  </div>
  </div> 
    
 
</div>
