.tulisan{
  padding-top: 50px;
   padding-right: 70px;
   padding-bottom: 20px;
   font-size:150px;
}

.logo{
  padding-top: 5px;
  padding-left:70px;  
  padding-right: 0px;
  padding-bottom: 20px;
 
}

.hero-unit{
  padding-top: 10px;
  padding-bottom: 20px;
}



.brandbawah{
  padding-top: 0px; 
  
}

.date{
  padding-bottom:0px;
  font-size:10px;
}

.dikti{
  background-color:#94CFAE;
  margin-top:10px;  
  margin-bottom:10px;
  padding-top:5px; 
  padding-left:20px; 
  padding-right:20px;
  padding-bottom:40px;
  display: table; 
  float:left;
  height:200px;
}

.dikti h4 h5{
  display: table-cell;
  vertical-align:middle;
  
}
.info{
  background-color:#DBB7B7;
  margin-top:10px;
  margin-bottom:10px;  
  padding-top:5px; 
  padding-left:20px; 
  padding-right:20px;
  padding-bottom:40px;
  display: table; 
  float:left;
  height:200px;
}

.info h4 h5{
  display: table-cell;
  vertical-align:middle;
  
}

.artikel{
  background-color:#EFF73B;
  margin-top:10px;  
  margin-bottom:10px;
  padding-top:5px; 
  padding-left:20px; 
  padding-right:20px;
  padding-bottom:40px;
  display: table; 
  float:left;
  height:200px;
  
}

.artikel h4 h5{
  display: table-cell;
  vertical-align:middle;  
}

.selengkapnya{
  padding-top: 0px;
  align: left;;
}

.baris1{
  overflow:hidden;
}

.footer {
  overflow:hidden;
  padding-right:0px;
  
}
.motto {
  float:left;
  font-size:13px;
}
.footergasi {
  float:left;
  font-size:13px;
 
}

