.tulisan{
  padding-top: 50px;
   padding-right: 70px;
   padding-bottom: 20px;
   font-size:150px;
}

.logo{
  padding-top: 5px;
  padding-left:80px;  
  padding-right: 0px;
  padding-bottom: 20px;
 
}

.hero-unit{
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer {
  font-size:13px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 20px;
  padding-bottom:0px;
  
}

.media{ 
  padding:10px;
  background-colour:#5698df;
}

.brandbawah{
  padding-top: 0px; 
  
}

.date{
  padding-bottom:0px;
  font-size:10px;
}

.dikti{
  background-color:#94CFAE;
  margin-bottom:10px;
  padding-top:5px; 
  padding-left:20px; 
  padding-right:20px;
  padding-bottom:40px;
   
}
.info{
  background-color:#DBB7B7;
  margin-bottom:10px;
  padding-top:5px; 
  padding-left:20px; 
  padding-right:20px;
  padding-bottom:40px;
  
}
.artikel{
  background-color:#EFF73B;
  margin-bottom:10px;
  padding-top:5px; 
  padding-left:20px; 
  padding-right:20px;
  padding-bottom:60px;
  
}

.selengkapnya{
  padding-top: 0px;
  align: left;;
}