.tulisan{
  padding-top: 50px;
   padding-right: 70px;
   padding-bottom: 20px;
}

.logo{
  padding-top: 5px;  
  padding-right: 0px;
  padding-bottom: 20px;
 
}

.hero-unit{
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer {
  font-size:14px;
  padding-left: 12px;
  margin:0px;
}

.media{ 
  padding:10px;
  background-colour:#5698df;
}

.brandbawah{
  padding-bottom: 20px; 
}

.date{
  padding-top:0px;
}

.dikti{
  background-color:#94CFAE;
  margin-bottom:30px;
  padding-top:5px; 
  padding-left:20px; 
  padding-right:20px;
  padding-bottom:10px;
   
}
.info{
  background-color:#DBB7B7;
  margin-bottom:30px;
  padding-top:5px; 
  padding-left:20px; 
  padding-right:20px;
  padding-bottom:30px;
  
}
.artikel{
  background-color:#B6E916;
  margin-bottom:30px;
  padding-top:5px; 
  padding-left:20px; 
  padding-right:20px;
  padding-bottom:30px;
  
  
}