<h3>Index Mata Kuliah</h3>

<table class="table">
   <tr>
      <th>No</th>
      <th>Kode</th>
      <th>Mata Kuliah</th>
      <th>Teori</th>
      <th>Lab</th>
      <th>Jumlah SKS</th>
      <th>Semester</th>
      <th>Mata Kuliah Pilihan</th>
      
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
</table>
