<%= simple_form_for(@akreditasi) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Tambah/Ubah Nama Standarisasi" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
